body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header{
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png");
    height: 580px;
    padding: 0px 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}
.fixed{
    position:fixed;
    right: 0;
    background-color: #fff;
    left: 0;
    z-index: 1;
}
.logo{
    margin-left: 45px;
    display: inline-block;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.logo img{
    width: 70%;
}

nav{
    position: absolute;
    top: 20%;
    right: 5%;
    padding-bottom: 0;
    
    
}
nav ul{
    list-style-type: none;
    display: inline;
    
}
nav ul li{
    display: inline-block;
    
}
ul .l1{
    background-color: #EB1700; 
    padding: 8px;
    border-radius: 20px;
    margin-left: 5px;
}
.l1 a{
    color: #fff;
}
ul .l2{
    padding: 8px;
    border-radius: 20px;
}
ul .l2 a{
    color: #000;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    
}

nav ul a:hover{
    border-bottom: 2px solid red;
}

.hero{
    padding-top: 200px;
}
.discover{
    text-align: center;
}
.discover h2{
    font-size: 30px;
    line-height: 28px;
    font-weight: 800;
}
form{
    text-align: center;
}
form input[type=text]{
    width: 350px;
    padding: 18px;
    border-radius: 30px;
    border: none;
    outline: none;
}

form input[type=submit]{
    padding: 8px;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
input[type=submit]:hover{
    opacity: .9;
}

input::placeholder{
    font-weight: 500;
    font-size: medium;
}
.first{
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
}

.dasher1{
    position: absolute;
    right: 80%;
    left: 5%;
    text-align: center; 
}

.dasher2{
    position: absolute;
    left: 40%;
    text-align: center; 
}

.dasher3{
    position: absolute;
    left: 75%;
    text-align: center; 
}
.dasher1,.dasher2,.dasher3 img{
    width: 270px;
    height: 150px;
    
}
.first .write{
    
    width: 300px;
    margin-right:32px ;
}
.first span{
    color: rgb(235, 23, 0);
}

.second{
    position: relative;
    margin-top:550px;
}

.second .crave .write h2{
    text-align: left;
}
.write1{
    position: absolute;
    left: 5%;
    width: 400px;
    margin-top: 40px;
}
.write1 h2{
    width: 300px;
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 20px;
    
}
.span1{
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.span2{
    display: block;
    margin-bottom: 25px;
}
button{
    background-color: rgb(235, 23, 0);
    width: 135px;
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    text-wrap: nowrap;
}
button a{
    text-decoration: none;
    color: #fff;
}
.simg{
    position: absolute;
    right: 2%;
    width: 600px;
    
}
.simg img{
    width: 100%;

}

.third{
    background-color: rgb(254, 241, 238);
    margin-top: 450px;
    width: 34%;
    position: absolute;
    padding: 400px;
    z-index: -1;
    
}

.third .write2{
    position: absolute;
    right: 3%;
    width: 400px;
    margin-top: -160px;
    
    
    
}
.third .write2 h2{
    width: 300px;
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 20px;
}
.timg img{
    width: 100%;
}
.third .timg{
    position: absolute;
    left: 4%;
    margin-top: -300px;
    width: 650px;
    
}

.forth{
position: absolute;
top: 0;
left: 0;
margin-top: 2230px;
width: 100%;
height: 100%;
text-align: center;

}
.forth .write3{
    padding-top: 200px;
    color: #fff;;
    width: 100%;
    height: 68%;
    position: absolute;
    background-color: rgba(30, 30, 30, 0.6);
    
}


.write3 h2{
    width: 18.75rem;
    margin-left: 28.125rem;
    font-size: 2.1875rem;
}

.write3.span2{
    width: 0.625rem;
    
}
.foimg img{
    width: 100%;
}
.foimg{
    width: 100%;
    z-index: -1;
}

.fifth{
    position: absolute;
    margin-top: 1770px;
    
}

.stores .write4{
    position: absolute;
    width: 350px;
    padding: 80px;
    
}

.write4 h2{
    font-size: 30px;
    font-weight: 800;
}
.fimg img{
    width: 100%;
    
}

.fimg{
    margin-left: 490px;
    width: 700px;
}

.sixth{
    position: absolute;
    top: 580%;
    background-color: rgb(254, 241, 238);
    width: 100%;
    padding-top: 50px;
    text-align: center;
    z-index: -1;
}
.sixth .help{
    font-size: 40px;
    
}
 .imgs1, .imgs2{
    width:550px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    padding-top: 20px;
 }   
 .imgs1 img, .imgs2 img{
    width: 100%;
 }
 .seventh{
    position: absolute;
    top: 842%;
    width: 100%;
    padding-top: 50px;
    
 }
.seventh .h2{
    text-align: center;
    font-size: 40px;

}
 .seventh .imgsv1{
    display: inline-block;
    width: 400px;
    margin: 60px 0 60px 60px;
 }
 .imgsv1 h2{
    font-size: 45px;
    
 }
 .seventh .sevimg{
    position: absolute;
    right:3%;
    display: inline-block;
    width: 650px;
 }
.sevimg img{
    width: 100%;
}
 .eighth{
    position: absolute;
    top: 960%;
    width: 100%;
    padding: 50px;
    background-color: rgb(254, 241, 238);
 }
 .eigimg{
    width: 650px;
    display: inline-block;
 }
 .eigimg img{
    width: 100%;
 }
 .eighth .write6{
    display: inline-block;
    width: 395px;
    margin-left: 50px;
    margin-top: 50px;
    vertical-align: top;
 }
 .write6 h2{
    width: 350px;
    font-size: 33px;
    font-weight: 700;
 }
 

 .tab{
    position: absolute;
    top: 1045%;
    width: 100%;
    padding: 50px;
    
 }
 .tab h2{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}
 #heading div{
    display: inline-block;
    width: 350px;
    text-align: center;
    border-bottom: 2px solid rgb(231, 231, 231);
    
    
}
#heading{
    text-align: center;
    width: 1100px;
}
#heading .ht{
    border-bottom: 3px solid rgb(73, 73, 73);
}

 
 #heading span{
    font-size: large;
    
 }

.tr{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
 .tr span{
    margin-left: 100px;
    padding: 15px 10px 12px 10px;
    color: rgb(25, 25, 25);
    display: block;
    
 }

 .tr span:hover{
    background-color: lightgray;
    cursor: pointer;
    
 }

 footer{
    background-color: #000;
    color: white;
    position: absolute;
    top: 1100%;
    width: 100%;
    padding-left: 20px;
 }

 footer h4{
    margin-left: 90px;
    margin-bottom: 15px;
 }

 footer ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    margin-top: 0;
 }
footer ul li{
    margin-bottom: 10px;
}
 footer ul li a{
    text-decoration: none;
    color: #cacaca;
    font-size: 14px;
   
 }

 footer ul li a:hover{
    text-decoration: underline;
 }

 .foot div{
    display: inline-block;
    vertical-align: top;
 }
 